#title {
    -fx-text-fill: black;
    -fx-font-size: 50px;
}

.label {
    -fx-text-fill: black;
}

#menu > .button {
    -fx-font-size: 18px;
}

.choice-box {
    -fx-min-height: 100% ;
    -fx-pref-width: 200px;
    -fx-font-size: 12px;
}