* {
    -fx-color-button: #414141;
    -fx-color-background: #565656;
    -fx-color-text: #fff;
    -fx-font-size: 1.1em;
    -fx-font-family: "Hoefler Text";
}

.label {
    -fx-text-fill: -fx-color-text;
    -fx-text-alignment: center;
    -fx-font-size: 24px;
}

.button {
    -fx-outline: none;
    -fx-font-size: 1em;
    -fx-line-height: 1;
    -fx-pref-width: 8em;
    -fx-background-color: -fx-color-button;
    -fx-text-fill: -fx-color-text;
    -fx-border-color: transparent;
    -fx-padding: 10;
}

.button:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.progress-bar > .track  {
    -fx-background-color: -fx-color-button;
}

.progress-bar > .bar {
    -fx-background-color: red;
}


.choice-box .context-menu {
    -fx-background-color: -fx-color-button;
}
.choice-box .menu-item > .label {
    -fx-text-fill: white;
}
.choice-box .menu-item:focused > .label {
    -fx-text-fill: -fx-color-button;
}

.choice-box {
   -fx-background-color: -fx-color-button;
   -fx-mark-color: white;
}

.choice-box > .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}


GridPane {
    -fx-border-color: black;
}

.text-field {
    -fx-text-fill: white;
    -fx-background-color: -fx-color-button;
    -fx-border-color: -fx-color-background;
}

.slider  {
    -fx-background-color: transparent;
}

.slider .track {
    -fx-background-color: -fx-color-button;
}

#hud {
    -fx-background-image: url('../images/paper-background.jpg');
    -fx-background-size: 100%;
}

#hud > .label {
    -fx-text-fill: black;
}
